# Curso de Programación en Python

## Planetario de Bogotá

Junio de 2018

Felipe L Gómez-Cortés

e-mail: felipe.gomez at idartes.gov.co

.

.

(⌐■_■)

.

.

# Día 0

* Tipos de Datos
* Operaciones entre Datos
* Función Print
* Listas
* Control de Flujo
  * while
  * for
  * if


# Tipos de Datos

int, float, string, datetime

In [1]:
a = 2

b = "texto"

c = 3.1416

In [2]:
type(a)

int

In [3]:
type(b)

str

In [4]:
type(c)

float

## Nombres de las variables

Existen algunos carácteres reservados que no pueden usarse en los nombres de las variables: 

       + - * / , . ! # % & ( ) = { } [ ] ; :

In [5]:
pepinito = 3.1416

In [6]:
numero_super_grandote = 10.0**99

In [7]:
numero_super_grandote

1e+99

In [8]:
type(numero_super_grandote)

float

In [9]:
numero_pequeñito = 0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000023

In [10]:
numero_pequeñito

2.3e-87

In [11]:
type(numero_pequeñito)

float

In [12]:
fecha = "2018-06-26"

In [13]:
type(fecha)

str

In [14]:
import time

In [15]:
from datetime import date

In [16]:
hoy = date.today()

In [17]:
print(hoy)

2018-06-26

In [18]:
type(hoy)

datetime.date

In [19]:
mi_cumpleaños = date(1987, 6, 22)

In [20]:
mi_cumpleaños

datetime.date(1987, 6, 22)

In [21]:
1e9

1000000000.0

In [22]:
1.0e99 + 1e22

1e+99

# Operaciones con Datos

In [23]:
a

2

In [24]:
b

'texto'

In [25]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
c

3.1416

In [27]:
a + c

5.1416

In [28]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
str(a) + b

'2texto'

In [30]:
(a + a) * c

12.5664

In [31]:
a / c

0.6366182836771073

In [32]:
10 / 3

3.3333333333333335

In [33]:
10 // 3

3

In [34]:
10 % 3

1

In [35]:
a - c

-1.1416

# Función Print

In [36]:
print("Hola Mundo!")

Hola Mundo!

In [37]:
print(a + c)

5.1416

In [38]:
print("hola, esta es la variable b: ", b)

hola, esta es la variable b:  texto

In [39]:
print("a ", a, ". b ", c)

a  2 . b  3.1416

In [40]:
print("A continuación un salto de línea: \nHemos hecho un salto de línea.\n    Yeah!")

A continuación un salto de línea:
Hemos hecho un salto de línea.
    Yeah!

In [41]:
print("uno")
print("dos")
print("tres")

uno
dos
tres

In [42]:
print("uno", end="")
print("dos", end="")
print("tres")

unodostres

# Listas

In [43]:
my_list = [a,b,c]

In [44]:
print(my_list)

[2, 'texto', 3.1416]

In [45]:
type(my_list)

list

In [46]:
my_list[0]

2

In [47]:
my_list[1]

'texto'

In [48]:
my_list[2]

3.1416

In [49]:
my_list[3]

IndexError: list index out of range

In [50]:
my_list[-1]

3.1416

In [51]:
my_list

[2, 'texto', 3.1416]

In [52]:
range(0,3)

range(0, 3)

In [53]:
list(range(3))

[0, 1, 2]

In [54]:
list(range(1,3))

[1, 2]

In [55]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

# Control de Flujo

In [57]:
n = 0

while(n < 5):
    print(n)
    n = n +1

0
1
2
3
4

In [58]:
n

5

In [59]:
for n in range(5):
    print(n)

0
1
2
3
4

In [60]:
for n in range(5):
    print(n)
    
    if(n>2):
        print("n es mayor que 2!!!")

0
1
2
3
n es mayor que 2!!!
4
n es mayor que 2!!!

In [61]:
# Podemos cambiar este valor para volver a ejecutar la siguiente celda
n = 1

In [62]:
if(n>0):
    print ("n es positivo")
if(n<0):
    print ("n es negativo")
if(n == 0 ):
    print ("n es cero")

n es positivo

In [63]:
x = 0

while(1):
    print(x)
    x = x+1
    
    if(x == 10):
        break

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in my_list:
    print(i)

2
texto
3.1416

# Maxi-Retos de Melocotón

1. Buscar en internet cómo añadir elementos a una lista
2. Buscar en internet cómo eliminar elementos de una lista
3. Usando ciclos "FOR" encontrar el máximo y el minimo de una lista de números

Escribir un código que imprima n asteriscos de este modo:

In [ ]:
*
**
***
****
***
**
*

Escribir otro código que imprima asteriscos de este otro modo:

In [ ]:
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

Los primeros 20 números de la serie de Fibonacci

1, 1, 2, 3, 5, 8, 13

El Binomio de Newton

In [ ]:
            1
          1   1
        1   2   1
      1   3   3   1
    1   4   6   4   1